html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.joinInnerContainer {
  width: 30%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.avatar-select {
  width: 100px;
  height: 100%;
  margin-left: 5px;
}
.avatar-option {
  width: 70px;
  height:70px;
  cursor:  pointer !important;
}
.img-option {
  width: 70px;
  height:70px;
}

.css-13cymwt-control {
  cursor: pointer !important;
  display: contents !important;
}

.css-t3ipsp-control {
  display: contents !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0 !important;
  cursor: pointer !important;
}

.css-1hb7zxy-IndicatorsContainer {
  display: none !important; 
}

.css-1nmdiq5-menu {
  cursor:  pointer !important;
}

.css-1n6sfyn-MenuList{
 padding: 0 !important;
}

.css-1dimb5e-singleValue {
  margin: 0 !important;
}
.css-1n6sfyn-MenuList::-webkit-scrollbar {
  display: none;
}

div[role=option]{
  padding: 0;
}

/* fix production */
.css-hlgwow {
  padding: 0 !important;
  cursor: pointer !important;
}
.css-1wy0on6 {
  display: none !important; 
}
.css-qr46ko {
  padding: 0 !important;
}
.css-qr46ko::-webkit-scrollbar {
  display: none;
}